.main-chatpage{
    display: flex;
    height: calc(100% - 50px);
    width: 100%;
    margin-bottom: 50px;
    transition: 2s all ease;
    justify-self: flex-start;
    flex-direction: column;

}
.message-here{
    max-height: 100vh;
    overflow: scroll;
    width: 100%;
    max-width: 450px;
    padding: 1rem;
    border-radius: 15px;
    background-color: lightblue;
    color: lightblue;
    margin: 20px auto;
    font-size: 17px;
    align-items: center;
}
.message-button{
    height: 3.5rem;
    width: auto;
    font-size: larger;
    align-items: center;
}
.message-input{
    margin-bottom: .5rem;
    padding: .8rem 1rem;
    border-radius: 8px;
    font-size: 1.5rem;
    min-width: 175px;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
 }
.message-div{
    align-items: center;
    display: flex;
}