.M-ui{
    justify-content: center;
    
 }
 
 .ui{
    
     height: 20rem;
     text-align: center;
     max-width: 50rem;
     background-color: whitesmoke;
     border-radius: 15px;
     padding: 10px 20px 15px 20px;
     margin: 10px;
     
 }
 a{
     text-decoration: none;
     color: black;
  }
 .room-join{
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     padding: 0;
 }
 .username-input {
     height: 1rem;
 }
 