.M-ui{
    align-items: center;
 }
 
 .ui{
  
     display: flex;
     flex-direction: column;
     width: 350px;
     min-width: 225px;
     background-color: whitesmoke;
     border-radius: 15px;
     padding: 10px 20px 15px 20px;
     margin: 10px;
     
 }
 a{
     text-decoration: none;
     color: black;
  }
 .room-join{
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     padding: 0;
 }