.M-ui{
    align-items: center;
    display: flex;
    
 }
 
 .ui{
    
   align-items: center;
     align-self: center;
     height: 20rem;
     min-width: 225px;
     background-color: whitesmoke;
     border-radius: 15px;
     padding: 10px 20px 15px 20px;
     margin: 10px;
     
 }
 a{
     text-decoration: none;
     color: black;
  }
 .room-join{
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     padding: 0;
 }
 .username-input {
     height: 1rem;
 }
 .Titel{
     
     align-items: center;
     display: flex;
 }